body {
  font-family: 'Roboto', sans-serif;
}

.navbar-inverse .navbar-brand {
  color: white;
}

#site-wrapper {
  padding-right: 16px;
  padding-left: 16px;
}

.checkbox input[type=checkbox] {
  margin-left: 0px;
}

.navbar-inverse {
  background-color: #468fcc;
  border-color: #468fcc;
}

.list-group-item button {
  float: right;
}

.btn-success {
  margin-right: 4px;
}