body {
/*  font-family: 'Roboto', sans-serif;*/
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse {
  background-color: #4696e5;
  border-color: #4696e5;
}

.navbar {
  border-radius: initial;
  margin-bottom: 0px;
}

.navbar a {
  border-bottom: initial;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

#site-wrapper {
  padding-right: 16px;
  padding-left: 16px;
}

.main-settings .checkbox input[type=checkbox] {
  margin-left: 0px;
}

.list-group-item button {
  float: right;
}

.btn-success {
  margin-right: 4px;
  margin-left: 4px;
}

html, body {
    overflow-y: visible;
}

.avatar {
  float: right;
  width: 32px;
  height: 32px;
}